<html>
    <head>
        <title> EA - Accueil </title>
        <style>

        </style>
    </head>

    <body>
        <h1> ACCUEIL </h1>
        <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1024-512,f_auto,q_auto:best/msnbc/Components/Photos/060705/060705_lay_vmed_10a.jpg"></img>
        <h2> Bienvenue sur ENRON APP</h2>
        <ul>
            <li> {{nbMails}} adresses mails référencées.</li>
            <li> {{nbMessages}} messages classés.</li>
        </ul>

        <a href="employees">Liste des employés</a><br>
        <a href="basicmining">Basic Mining</a></br>
        <a href="seuils">Seuils</a></br>
        <a href="interactions">Interactions</a></br>
        <a href="achalandage">Achalandage</a></br>

    </body>

</html>