<html>
    <head>
        <title> EA - Basic Mining </title>
        <style>

        </style>
    </head>

    <body>
        <a href="./">Accueil</a>
        <h1> BASIC MINING </h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>

        <p><b>{{nb_messages}} messages correspondants</b></p>
        <table>
            <th>ID</th>
            <th>DATE</th>
            <th>SUJET</th>
            <th>SENDER</th>
            {% for message in messages %}
            <tr>
                <td>{{message.id}}</td>
                <td>{{message.date}}</td>
                <td>{{message.subject}}</td>
                <td>{{message.sender.address}}</td>
                <td><a href="{% url 'show_message' message.id %}"> -> VIEW </a></td>
            </tr>
            {% endfor %}
        </table>

    </body>

</html>